node_modules/
.env
.DS_Store
dist/
build/
client/node_modules/
server/node_modules/
client/dist/
server/dist/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
server/uploads/
server/verify_db.js
